snippet propdefo "{ type: Object... }"
{
	type: Object,
	default: () => { return {}; }
}$0
endsnippet

snippet propdefa "{ type: Array... }"
{
	type: Array,
	default: () => { return []; }
}$0
endsnippet
