snippet it "it(String, Function)"
it('$0', () => {
});
endsnippet

snippet de "describe(String, Function)"
describe('$0', () => {
});
endsnippet

snippet be "beforeEach(String, Function)"
beforeEach(() => {
    $0
});
endsnippet

snippet bee "beforeAll(String, Function)"
beforeAll(() => {
    $0
});
endsnippet

snippet af "afterEach(String, Function)"
afterEach(() => {
    $0
});
endsnippet

snippet aff "afterAll(String, Function)"
afterAll(() => {
    $0
});
endsnippet
